@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}


h1{
    font-size: 100px;
    transform: translate(-50% , -50% );
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: underline;
    font-weight: 600;
}
h2{
    font-size: 50Px;
    transform: translate(-50% , -50% );
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: underline;
    font-weight: 600;
    color: red;
}
