<<<<<<< HEAD
@import "tailwindcss";
/* @import "@fontsource/poppins"; */

body {
  font-family: "Poppins", sans-serif;
=======


html,body{
  color: #ffffff;
  background-color: #000;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;

>>>>>>> 66b815bbdcb843141fb0237f692f9b4ef9adc2b7
}